body {
    background-color: paleturquoise;
  }
  h1 {
    color: blue;
  }
  .omg {
    color: red;
  }
  .font-size{
    font-size: 50px;
  }
  p {
    color:black;
  }
  b {
    color:blueviolet
  }